.table td {
    width: 10%;
    text-align: right;
}
.table{
    font-size: 15px;
}
.table th{
    vertical-align: middle !important;
    text-align: center !important;
    /* width: 28%; */
}
td:nth-child(1) {  
    text-align: center;
  }